body{
    margin: 0;
}

.container-top{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.hero{
    width: 500px;
    height: 200px;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 75px;
}

img{
    width: 500px;
    height: 200px;
    background-color: grey;
    text-align: center;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

ul,
.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}