body{
    margin: 0;
}

.container-top{
    background-color: #1F2937;
    margin-bottom: 50px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.hero{
    width: 500px;
    height: 200px;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 75px;
}

img.placeholder{
    width: 500px;
    height: 200px;
    background-color: grey;
    text-align: center;
    border: 0;
}

.hero-main{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

ul,
.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    padding: 4px 20px;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
}

button.sign-up{
    border: 1px solid #3882f6;
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin-bottom: 50px;
}

img{
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.information-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.image-info{
    max-width: 200px;
    text-align: center;
    color: rgb(88, 88, 88);
}

.quote-container{
    background-color: #E5E7EB;
    padding: 100px 200px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-by{
    font-weight: bold;
    align-self: flex-end;
    color: black;
    font-size: 20px;
}

.sign-up-container{
    display: flex;
    margin: 100px 400px;
    background-color: #3882f6;
    padding: 25px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 200px
}

.call-title{
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bolder;

}

.call-description{
    color: #F9FAF8;
}

button.call-sign-up{
    border: 2px solid #F9FAF8;
    font-weight: bold;
    font-size: 20px;
}

.footer{
    height: 90px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}



